<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shark/a05.png</key>
			<dict>
				<key>width</key>
				<integer>611</integer>
				<key>height</key>
				<integer>414</integer>
				<key>originalWidth</key>
				<integer>859</integer>
				<key>originalHeight</key>
				<integer>646</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>57</real>
				<key>offsetY</key>
				<real>-61</real>
			</dict>
			<key>shark/a06.png</key>
			<dict>
				<key>width</key>
				<integer>611</integer>
				<key>height</key>
				<integer>414</integer>
				<key>originalWidth</key>
				<integer>859</integer>
				<key>originalHeight</key>
				<integer>646</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>57</real>
				<key>offsetY</key>
				<real>-61</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>shark2.png</string>
			<key>realTextureFileName</key>
			<string>shark2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>