<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>puffer/a01.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>puffer/a02.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>puffer/a03.png</key>
			<dict>
				<key>width</key>
				<integer>345</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>306</integer>
				<key>offsetX</key>
				<real>-52</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>puffer/a04.png</key>
			<dict>
				<key>width</key>
				<integer>345</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-52</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>puffer/a05.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>327</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>puffer/a06.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>327</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>puffer/a10.png</key>
			<dict>
				<key>width</key>
				<integer>489</integer>
				<key>height</key>
				<integer>327</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>puffer/a11.png</key>
			<dict>
				<key>width</key>
				<integer>365</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>797</integer>
				<key>offsetX</key>
				<real>-46</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>puffer/a12.png</key>
			<dict>
				<key>width</key>
				<integer>365</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>801</integer>
				<key>originalHeight</key>
				<integer>615</integer>
				<key>x</key>
				<integer>367</integer>
				<key>y</key>
				<integer>797</integer>
				<key>offsetX</key>
				<real>-46</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>puffer0.png</string>
			<key>realTextureFileName</key>
			<string>puffer0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>